* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #78bbe0;
    color: #fff;
}

.container {
    width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 100px 0 50px 0;
    text-align: center;
}

.widgets {
    margin-bottom: 80px;
}

.widget-from {
    float: left;
    position: relative;
    margin-left: 10px;
}

.widget-to {
    float: right;
    position: relative;
    margin-right: 10px;
}

select,
input {
    font-family: inherit;
    border-radius: 5px;
    color: #3A3A3A;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

select {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 2px 4px 6px;
    text-align: center;
    text-transform: uppercase;
}

input {
    text-align: right;
    width: 230px;
    padding: 5px 10px;
}

p {
    text-align: left;
    margin-top: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 2px #0000FF;
}

select:focus {
    outline: none;
    box-shadow: 0px 0px 2px #0000FF;
}

.widget-from input {
    background-image: radial-gradient( #fff, #6AE0DD);
}

.widget-to input {
    background-image: radial-gradient( #fff, #EDEAEA);
}

#reset-btn {
    display: block;
    margin: 0 auto;
    padding: 7px 56px;
    background: #4c99bf;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 19px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.deleted {
    visibility: hidden;
}

.warning {
    color: #de0808;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 60%;
    }
    h1 {
        margin-bottom: 20px;
    }
    .widgets {
        margin: 0 auto;
    }
    .widget-to,
    .widget-from {
        float: none;
        margin: 25px auto 65px auto;
        text-align: center;
        width: 100%;
    }
    .widget-to {
        margin-bottom: 40px;
    }
    select {
        top: 0;
        left: 0;
    }
    input {
        width: 100%;
    }
    #reset-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .container {
        width: 90%;
    }
    h1 {
        margin-bottom: 20px;
    }
    .widgets {
        margin: 0 auto;
        width: 100%;
    }
    .widget-to,
    .widget-from {
        float: none;
        margin: 50px auto;
        text-align: center;
        width: 100%;
    }
    select {
        top: 0;
        left: 0;
    }
    #reset-btn {
        width: 100%;
    }
}